/*
Aguinaldo
*/

body {

	font-family: "Crimson Text", "Times New Roman", serif;
	background-color: #cbe0ef;
	font-size: 120%;
	line-height: 1.5;
	
}

/* Milton */
main .logo {
	background-image: url('logo.png');
	background-repeat: no-repeat;
	background-size: contain;
	width: 110px;
	height: 110px;
	margin: 8px;
	float: left;
}
/* Milton */

main h1 {

	text-align: center;
	background-color: #1f69a5;
	color: #FFF;
	padding: 25px;
	border-bottom: 10px solid black;
	font-family: "Open Sans Condensed", "Arial", sans-serif;
    text-align: center;
    font-size: 50px;
}

/*
Aguinaldo
*/

/*
Kaue
*/

h2 {

	text-align: center;
    font-size: 40px;
	text-align: center;
	background-color: #1f69a5;
	color: #FFF;
	padding: 5px;
	border-bottom: 10px solid black;
	
}
h3 {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	text-align: left;

}

/*
Kaue
*/

/*
Thieres
*/

h4 {

	font-size: 30px;
	margin: 5px;
	border: 10%;
	text-align: center;
	color: #FFF;
	padding: 10px;

}

p {
	
	text-align: left;
}

figure {

	text-align: center;

}

/*
Thieres
*/

/*
Milton
*/

ul {

	text-align: left;
	font-size: 15px;
	margin: 10px;

}

aside {

	background-color:#1f69a5;
	color: #F2FFFC;	
}


.corpo {

	text-align: center;    
	
}

.corpoFeira {

	text-align: center;    
	margin: 5px;
	padding: 5px;
}

.corpoFeira .blocoFeira {
	
	display: inline-grid;
	margin: 0px 5px;
	width: 30%;
	
}

.corpoFeira .blocoFeira img {
	height: 140px;
	border-radius: 15px;
}

.corpoFeira .blocoFeira h4 {
	color: #1F69A5;
}

.bloco {

	display: inline-block;
    margin: 0px 5px;
    width: 18%;

}

.foto {

	border-radius: 50%;
    width: 150px;
    height: 150px;

}

.rodape-bloco {

	font-size: 10pt;

}

/*
Milton
*/

/*
Aguinaldo
*/

footer {

	background-color: black;
	color: #F2FFFC;
	text-align: center;
	margin: 0px;
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;

}

/*
Aguinaldo
*/